.p-style-bg {
  background-image: url("../assets/images/page_style_banner.png");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
  position: relative;
}

.p-style-bg::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  /* Equivalent to #00000066 (66 in hex = 40% opacity) */
  z-index: 1;
  /* Make sure this sits above the background but below the text */
}

.p-style-detail-bg {
  background-image: url("../assets/images/page-styles-detail/page-styles-detail-banner.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  height: 60vh;
  position: relative;
}

.p-style-detail-bg::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  /* Equivalent to #00000066 (66 in hex = 40% opacity) */
  z-index: 1;
  /* Make sure this sits above the background but below the text */
}

/* Ensure equal height for columns */
.page-equal-height-row {
  display: flex;
  align-items: stretch;
}

.page-full-height-image {
  width: 100%;
  height: 600px;
  /* Ensures the image takes full height of the column */
  object-fit: cover;
}

/* Overlay text */
.page-overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFFFFF99;
  padding: 15px 80px;
  text-align: center;
  z-index: 1;
  text-transform: uppercase;
  width: 70%;
}

.page-overlay-text h2 {
  font-size: 27px;
  margin-bottom: 0px;
  font-family: "DM Serif Display", system-ui;
  font-weight: 400;
  color: #000000;
}

.page-card-1 {
  background-color: #FFF5E8;
  padding: 30px;
}

.page-card-1 h5 {
  font-family: "DM Serif Display", system-ui;
  font-weight: 400;
  font-size: 22px;
  color: #000000;
  margin-bottom: 15px;
}

.page-card-1 p {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #6A6A6A;
}

.page-card-1 a{
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #000000;
}

/* Flexbox adjustments for equal height cards and columns */
.d-flex.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

/* page-detail-styles */

.page-detail-slider-container {
  position: relative;
  /* Adjust as needed */
  height: 450px;
  /* Adjust as needed */
}

.page-detail-slider-container .slick-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  background-color: #ffffff;
  border: none;
}

.page-detail-slider-container .slick-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  z-index: 1;
  background-color: #ffffff;
  border: none;
}

.page-detail-image-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* Prevent overflow */
}

.page-detail-main-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease;
}

.page-slider-slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  /* Use visibility instead of display */
  opacity: 0;
  /* Set opacity to fade in */
  transition: opacity 0.3s ease;
  /* Smooth transition for visibility */
}

.page-slider-slider .slider-item {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.page-slider-slider .slider-item .slider-content {
  position: relative;
  height: 100%;
  width: 100%;
}

.page-slider-slider .slider-item .slider-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(348.66deg, rgba(0, 0, 0, 0.48) 48.9%, rgba(102, 102, 102, 0) 95.28%);
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  /* Prevent interference with slider interaction */
}

.page-slider-slider .slider-item p {
  color: #FFFFFF;
  font-size: 16px;
  text-align: center;
  font-weight: 400;
  z-index: 1;
  margin: 0 60px;
  font-family: "Nunito", sans-serif;
}

.page-slider-slider .slider-item h3 {
  font-family: "DM Serif Display", system-ui;
  font-weight: 400;
  font-size: 22px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 20px;
}

.page-slider-slider .slider-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.page-detail-image-wrapper:hover .page-detail-main-image {
  opacity: 0;
}

.page-detail-image-wrapper:hover .page-slider-slider{
  visibility: visible;
  opacity: 1;
  /* Smooth fade-in for slider and button */
}
